{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2022"
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true,
  "env": {
    "targets": [
      "defaults",
      "node 16"
    ]
  }
}
